* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.left-flex {
    width: 18%;
    /* width: 229px; */
    height: 635px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1A1B31;
}

.left-flex h6 {
    /* padding-top: 3rem; */
    font-size: 1.5rem;
    color: white;
}

.left-flex ul {
    margin-top: -1rem;
}

.left-flex ul li {
    list-style: none;
    margin-top: 3rem;
    font-size: 1.1rem;
    font-weight: normal;
    color: white;
    display: flex;
    align-items: center;
}

.left-flex ul li img {
    margin-right: 1rem;
    color: white;
}

.left-flex h6 {
    /* margin-top: 2.5rem; */
    font-size: 1.1rem;
    color: white;
}

.left-flex input {
    /* margin-top: 2.5rem; */
    padding: 10px 25px 10px 25px;
    background: #2F80ED;
    color: white;
    border-radius: 5px;
    border: 1px solid #2F80ED;
    cursor: pointer;
    text-transform: uppercase;
}

.right-flex {
    /* width: 82%; */
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 1.1rem;
    background: #F5F5F5;
}

.right-flex h2 {
    text-align: center;
    font-size: 2rem;
}

.header-flex {
    width: 100%;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
}

.sub-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    border-radius: 5px;
    padding: 12px 10px 10px 10px;
    /* height: 100px; */
}

.sub-flex span {
    text-align: left;
    align-items: flex-end !important;
    margin-left: 120px;
    font-size: 2rem;
    font-size: 500;
    color: rgb(7, 7, 163);

}

.sub-flex img {
    width: 50%;
    height: 90px;
    border-radius: 100%;
}

.sub-flex h5 {
    padding-top: 7px;
}

.sub-flex h4 {
    padding-top: 10px;
    font-size: 1.2rem;
}


.leader {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.search-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.search-flex>div {
    padding: 10px;
}

.search-flex input {
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    position: relative;
    padding: 0 0 0 25px;
    height: 30px;
}

.search-flex .sort {
    width: 30px;
    height: 20px;
}

.search-flex .search {
    position: absolute;
    padding-right: 50px;
}



.sub-leader1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    border-radius: 5px;
}

 .sub-leader1 img{
     width: 40px;
     height: 40px;
     border-radius: 100%;
 }

button{
    width: 70px;
    height: 40px;
}


 @media screen and (max-width:1080px){
    .card{
        width: 80%;
        margin: 0 auto;
        margin-top: 1.2rem;
    }
 }

 @media screen and (max-width:946px){
    .leader {
        width: 85%;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
 }
 @media screen and (max-width:946px){
  
    
 }

 @media screen and (max-width: 767px){
    .card {
        flex-direction: column;
        width: 80%;
        margin-top: 1.2rem;
    }
    
    .sub-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px sol. black; */
        background-color: white;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        border-radius: 5px;
        padding: 12px 0 10px 0;
        margin: 0 auto;
        margin-top: 20px;
        width: 60%;
        /* height: 100px; */
    }
    .sub-flex img {
        width: 62%;
        height: 200px;
        border-radius: 100%;
    }
    .sub-flex span {
        margin-left: 220px;
    
    }

    .leader {
        width: 92%;
    }
    .sub-leader1 {
        margin-top: 0.75rem;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        border-radius: 5px;
    }
 }


 @media screen and (max-width: 470px){
    .leader {
        width: 96%;
    }
 }

h5.name {
    font-size: 1em;
}

.track {
    font-size: .8em;
}

h5.points {
    font-size: .9em;
}

.btn-share {
    color: white;
    background: black;
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer
}

.paginator {
    color: white;
    background: black;
    margin: 1px;
    padding: 8px;
    cursor: pointer;
    border: none;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
